.nrf-colorpicker-wrapper:not(.no-style){position:relative}.nrf-colorpicker-wrapper:not(.no-style) .nrf-colorpicker{position:absolute;left:3px;top:2px;width:33px;height:33px;padding:0;margin:0;border:none;outline:none;-webkit-box-shadow:none;box-shadow:none;background:transparent}.nrf-colorpicker-wrapper:not(.no-style) .nrf-colorpicker-input{border-radius:3px;padding:10px 10px 10px 40px;height:auto;line-height:1}


